<div class="grid_12 alpha pane" id="dashboard">
  <div class="wrap">
    <article class="identity_map">
      <h1>Identities and Passwords</h1>
      <nav class="actions">
        <%= link_to "New Identity", "#new_identity", id: "add_identity_button", class: "button" %>
      </nav>
      <div class="clear"></div>
      <p class="help">
        Tired of manually changing your passwords?  Adjutant can change them for you!  Add a new 
        <a href="/help/identity_provider">identity provider</a> and <a href="/help/link_a_password">link it to a password</a>.  
        Changing your password in Adjutant will update all <a href="/help/identity">identities</a> associated with it.  
        <a href="/help/password_sync">Learn more...</a>
      </p>
      <section id="new_identity_form" class="hidden">
        <%= form_for :identity do |f| %>
          <span><%= f.label "Service" %></span><%= select_tag(:identity_provider, options_for_select(@identity_providers)) %>
          <span><%= f.label :user_name %></span><%= f.text_field :user_name %>      
        <% end %>
      </section>      
      <% @identity_map.each_pair do |context, identities| -%>
      <ul class="context">
        <li id="current_context"><%= context %></li>
      </ul>
        <table class="identities">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Service</th>
              <th>Password Linked?</th>
              <th>Last Sync</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="identities_contents">
          </tbody>
        </table>          
      <% end -%>
    </article>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    Adjutant.init();
  });
</script>