<!DOCTYPE html>
<html>
<head>
  <title>Adjutant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header>
    <div id="logo">
        <a href="#">Adjutant</a>
    </div>
  </header>

  <section id="content">
    <%= yield %>
  </section>
  
</body>
</html>
