<!DOCTYPE html>
<html>
<head>
  <title>Adjutant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container_12">
  <header class="grid_12">
    <div id="logo">
        <a href="#">Adjutant</a>
    </div>
  </header>
  <div class="clear"></div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <section class="grid_12" id="content">
    <%= yield %>
  </section>
  <div class="clear"></div>

  <script>
  var intercomSettings = {
      app_id: 'yvaz37p9',
      email: '<%= current_user.email %>',
      created_at: '<%= current_user.created_at.to_i %>'
    };
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://api.intercomapp.com/api/js/library.js';
      var script = document.getElementsByTagName('script')[0];
      script.parentNode.insertBefore(s, script);
    })();
  </script>
</body>
</html>
