<!DOCTYPE html>
<html>
<head>
  <title>Adjutant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="headerDiv">
        <%= image_tag "logo.png", {:height => 20} %><span id="logo"><a href="#">Adjutant</a></span>
    </div>
    <div id="loginDiv">
        <div class="wrap">
            <%= yield %>            
        </div>
    </div>
</body>
</html>
